<%- include('partials/logged-in-header') -%>

<div class="container mx-auto px-4 py-100 ">
  <p class="mb-1 flex justify-content-center mt-100 pt-75 " style="
  margin-top: 100px;"
>Explore doYou's</h1>
    <div class="divider" ></div> 
<div class="mx-auto grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 lg:gap-24 gap-6 flex-column col-10 ">
        <% for(var i=0; i<posts.length; i++) {%>
          <a href="/post/<%= posts[i]._id%>" class="place-item-stretch">
            <div class="rounded-lg overflow-hidden shadow-lg ">
              <img class="card-img-top h-60 w-full object-cover object-center" src="<%= posts[i].image%>"  alt="">
              <div class="px-6 py-4">
                <div class="font-bold text-2xs mb-2 flex-1 w-fit"><%= posts[i].one %></div>
                <p class="text-gray-700 text-base">
                  <%= posts[i].createdAt.toLocaleDateString() %>
                </p>
              </div>
            </div>
                </a>
                <% } %>
          </div>
          </div>
<%- include('partials/footer') -%>