
<%- include('partials/logged-in-header') -%>


          <div class="mt-16  ">
            <div class="divider" ></div> 
              <p class="mt-2"><strong>User Name</strong>: <%= user.userName %></p>
              <p class="mb-8"><strong>Email</strong>: <%= user.email %></p>
           
              <!-- <a href="/logout" class="col-3 btn btn-primary">Logout</a> -->
              <div class="btn-group mb-2 ">
                <button class="btn btn-primary mr-1 btn-sm" href="#post">Create Post</button>
                <a role="button" class="btn btn-primary mr-1 btn-sm" href="/feed">Explore</a>
                <button class="btn btn-primary btn-sm">Mood Tracker</button>
              </div>
          </div>
          <!-- <a class="btn btn-primary mb-5" href="#ppost" type="button">Create Post</a> -->
           
<div class="container mx-auto px-4 py-100  ">
  <p class="mb-1 flex justify-content-center">  Your Posts</p>
  <div class="divider" ></div> 
  <div class="mx-auto grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 lg:gap-24 gap-6 flex-column col-10 " > 
      <% for(var i=0; i<posts.length; i++) {%>
        <a href="/post/<%= posts[i]._id%>" class="place-item-stretch">
    <div class="rounded-lg overflow-hidden shadow-lg ">
      <img class="card-img-top h-60 w-full object-cover object-center" src="<%= posts[i].image%>"  alt="">
      <div class="px-6 py-4">
        <div class="font-bold text-2xs mb-2 flex-1 w-fit"><%= posts[i].one %></div>
        <p class="text-gray-700 text-base">
          <%= posts[i].createdAt.toLocaleDateString() %>
        </p>
      </div>
    </div>
        </a>
        <% } %>
  </div>
  </div>

          <div class="divider" ></div> 
      
        <div class="container card-container" >
          <div class="row justify-content-center mb-5 min-h-screen" >
              <div class="col-6">
          <div class="">
            <h2 class="text-3xl" id="post">Add a post</h2>
            <p>Be sure to add multiple items on seperate lines</p>
          </br>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                <label class="form-label block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="imageUpload">Include One Picture or Piece of Art</label>
                <input type="file" class=" form-control block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="imageUpload" name="file">
              </div>
              <div class="mb-3">
                  <label for="seven" class="form-label block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"> Seven things you did/ things around you/ of something </label>
                  <textarea type="text" class="form-control block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="seven" name="seven"placeholder="Add items on seperate lines"></textarea>
              </div>
              <div class="mb-3">
                <label for="five" class="form-label form-label block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Five thing you're grateful for</label>
                <textarea rows="6" class="form-control block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="five" name="five" placeholder="Add items on seperate lines"></textarea>
              </div>  
              <div class="mb-3">
                <label for="three" class="form-label form-label block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Three thing to work on</label>
                <textarea rows="4" class="form-control lock w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="three" name="three"placeholder="Add items on seperate lines"></textarea>
              </div>
              <div class="mb-3">
                <label for="one" class="form-label form-label block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">One Positive Affirmation About Self</label>
                <textarea class="form-control block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="one" name="one"></textarea>
              </div>

              <button type="submit" class="btn btn-primary mb-5" value="Upload">Submit</button>
            </form>
          </div>
<%- include('partials/footer') -%>