
<%- include('partials/logged-in-header') -%>

          <div class="mt-24">
              <p class="mt-11"><strong>User Name</strong>: <%= user.userName %></p>
              <p class="mb-2"><strong>Email</strong>: <%= user.email %></p>
           
              <!-- <a href="/logout" class="col-3 btn btn-primary">Logout</a> -->
          </div>
          <a class="btn btn-active btn-primary float-right mb-2" href="#post" role="button">Make A Post</a>
               <!-- <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        </div> -->

        <section class="">
        <div class="flex flex-wrap -m-2">        
          <div class="p-2 lg:w-full md:w-1/2 w-full sm:w-full">           
            <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
              <ul class="row list-unstyled">
                <p> <%= user.userName %>'s Posts</p>
                <% for(var i=0; i<posts.length; i++) {%>
                  <li class="col-6 justify-content-between mt-5">
                    <a href="/post/<%= posts[i]._id%>">
                      <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="<%= posts[i].image%>">
                        <div class="flex-grow">
                          <h2 class="text-gray-900 title-font font-medium"><%= posts[i].createdAt.toLocaleDateString() %></h2>
                            <p class="text-gray-500"><%= posts[i].one %></p>
                        </div>
                    </a>
                  </li>
                  <% } %>
               </ul>
            </div>
          </div>
</div></section>

<!-- 
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>   -->

        <div id="post"></div>
        <div class="container card-container" >
          <div class="row justify-content-center mb-5 min-h-screen" >
              <div class="col-6">
          <div class="">
            <h2 class="text-3xl" >Add a post</h2>
            <p>Be sure to add multiple items on seperate lines</p>
          </br>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">

              <div class="mb-3">
                <label class="form-label block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="imageUpload">Include One Picture or Piece of Art</label>
                <input type="file" class=" form-control block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="imageUpload" name="file">
              </div>

              <div class="mb-3">
                  <label for="seven" class="form-label block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"> Seven things you did/ things around you/ of something </label>
                  <textarea type="text" class="form-control block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="seven" name="seven"placeholder="Add items on seperate lines"></textarea>
              </div>

              <div class="mb-3">
                <label for="five" class="form-label form-label block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Five thing you're grateful for</label>
                <textarea rows="6" class="form-control block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="five" name="five" placeholder="Add items on seperate lines"></textarea>
              </div>  

              <div class="mb-3">
                <label for="three" class="form-label form-label block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Three thing to work on</label>
                <textarea rows="4" class="form-control lock w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="three" name="three"placeholder="Add items on seperate lines"></textarea>
              </div>

              <div class="mb-3">
                <label for="one" class="form-label form-label block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">One Positive Affirmation About Self</label>
                <textarea class="form-control block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="one" name="one"></textarea>
              </div>

              <button type="submit" class="btn btn-primary mb-5" value="Upload">Submit</button>
            </form>
          </div>
  
 
     





<%- include('partials/footer') -%>